.header {
    margin-right: 0;
}

/*logo*/
.logo {
    background: url("../includes/images/logo-hanze.png") no-repeat;
    height: 60px;
    padding-left: 75px;
    position: absolute;
    left: 20px;
    top: 5px;
    color: #FF9900;
    vertical-align: center;
}

.logo > h5,
.logo > p {
    font-size: 0.8em;
}

/*menu*/
.menu {
    position: absolute;
    right: 0;
    top: 5px;
}

.menu .col {
    background-color: rgba(51, 51, 51, 1);
    margin-right: 5px;
    height: 40px;
    vertical-align: center;
    text-align: center;
    padding: 5px;
}

.menu .col > a {
    color: white;
    text-decoration: none;
}

.menu .col > a:hover {
    color: white;
    text-decoration: underline;
}