﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
    background-color: #000;
    margin: auto;
    background-repeat: repeat-y;
    overflow-y: visible;
    font-family: "Open Sans";
    color: #fff;
}

a {
    color: white;
    text-decoration: underline;
}

.inhoud {
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 0;
}
.red {
    color: red;
}

.green {
    color: green;
}

/*forms*/
.form-group {
    border-bottom: 1px solid #fff;
    padding: 10px;
}

.line {
    border-bottom: 1px solid #fff;
}

.no_line {
    border-bottom: none;
}
#submit {
    margin-top: 5px;
}

.border-right {
    border-right: 1px solid #fff;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/*tables*/
div.dataTables_scrollBody {
    background: none !important;
}

#dataexport {
    margin-top: 30px;
}

.diffen {
    font-weight: bold;
}